* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Maison Neue", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::before {
  display: block;
  content: "";
  height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Maison Neue", sans-serif !important;
}

p {
  font-family: "Maison Neue", sans-serif !important;
}

/* UTILITIES CLASSES */
.mx-logo {
  margin: 0 8rem 0 7.5rem;
}

.mx-6 {
  margin: 0 6rem;
}

.mx-8 {
  margin: 0 8rem;
}

.mx-10 {
  margin: 0 10rem;
}

.my-8 {
  margin: 8rem 0;
}

.px-8 {
  padding: 0 8rem;
}

.ms-6 {
  margin-left: 6rem;
}

.ms-8 {
  margin-left: 8rem;
}
.mx-15 {
  margin: 0 15rem;
}
.me-10 {
  margin-right: 10rem;
}

.ps-md-6 {
  padding-left: 6rem;
}

.pe-md-6 {
  padding-right: 6rem;
}

.px-md-6 {
  padding: 0 6rem;
}
.ps-lg-6 {
  padding-left: 6rem;
}

.pe-lg-6 {
  padding-right: 6rem;
}

.px-lg-6 {
  padding: 0 6rem;
}

.text-blue {
  color: #171dde;
}

.btn-red {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: 300;
}

.btn-red:hover {
  opacity: 0.8 !important;
}

.btnn {
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* .btn-red:hover {
  background-color: rgb(250, 0, 0) !important;
  color: #ffffff;
  font-weight: 300;
} */

/* Navbar */
.visionapp {
  font-family: "Maison Neue", sans-serif;
  color: #000000;
  background: #ffffff;
  font-weight: 900;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  word-spacing: none;
}

/* Showcase */
#showcase .w-img {
  width: 1200px;
  height: 750px;
}

#showcase h1 {
  font-weight: 600;
}

#solutions {
  background: url("../img/solutions.png") no-repeat center center/cover;
  height: 75vh;
  position: relative;
  color: #ffffff;
}

#solutions h1 {
  font-weight: 500;
}

#solutions::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #171dde;
  opacity: 0.85;
}

#solutions .hero {
  z-index: 10;
  position: absolute;
}

#solutions .hero h1 {
  font-size: 40px;
}

#solutions .hero p {
  font-size: 22px;
}

#services h1 {
  font-weight: 600;
}

#services h4 {
  font-size: 38px;
}

#services .p-main {
  font-size: 17px;
  width: 50%;
  margin: auto;
}

/* #services .carousel .carousel-indicators button img {
  color: #171dde !important;
} */

#services .carousel .carousel-indicators button img:active {
  color: #171dde;
  background-color: #171dde !important;
}

#services .carousel-indicators {
  left: 1110px;
}

/* #services .meal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
} */

#services .meal-text {
  padding-left: 50px;
  padding-right: 15px;
}

#services .meal-text .meal-heading {
  margin-top: 150px;
}

#services .meal-text .meal-pg {
  font-size: 20px;
}

#services .meal-pic {
  padding: 0;
  margin: 0;
}

#about {
  margin-top: 3rem;
}

#about .about-heading {
  font-size: 40px;
}

#about .about-p {
  font-size: 24px;
  margin-bottom: 30px;
}

#achievement {
  background: url("../img/acheivement.png") no-repeat center center/cover;
  height: 60vh;
  position: relative;
  color: #ffffff;
}

#achievement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #171dde;
  opacity: 0.85;
}

#achievement .container {
  z-index: 10;
  position: absolute;
  margin-top: 150px;
  padding-left: 120px;
}

#achievement .container h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 78.72px;
}

#achievement .container button {
  margin-top: 20px;
  margin-left: 525px;
}

#people {
  background: #ffffff;
  margin-top: 80px;
  margin-bottom: 100px;
}

#people h3 {
  font-size: 40px;
}

#people p {
  font-size: 20px;
}

#people h5 {
  font-weight: 600;
  font-size: 18px;
}

#people .row p {
  font-size: 15px;
}

#people .card-body {
  padding: 14px 18px;
}

#people img {
  margin-top: 5px;
}

#people .people-text {
  padding-left: 12px;
  padding-right: 15px;
}

footer .container a {
  font-size: 13px;
  text-transform: uppercase;
}

footer .container p {
  font-size: 12px;
  margin-bottom: 0;
}

footer .container .bold {
  font-size: 15px;
  font-weight: 500;
  display: block;
  color: #000000;
  text-decoration: none;
}

footer .container .bd {
  text-transform: uppercase;
}

/* Mobile  */
/* @media (max-width: 275px) {
  #showcase {
    background: url("../img/Doctor putting on surgical gloves with copy space.png")
      no-repeat center center/cover;
    height: 100vh;
  } 
}*/

@media (min-width: 280px) and (max-width: 380px) {
  .navbar {
    padding: 3px !important;
  }

  .navbar-toggler {
    padding: 3px 10px !important;
    border: none;
  }

  .logo {
    padding-left: 27px;
  }

  #showcase {
    background: url("../img/Doctor putting on surgical gloves with copy space.png")
      no-repeat right center/cover;
    height: 80vh;
    background-size: 214px 600px !important;
    padding-left: 32px !important;
  }

  #showcase .show h1 {
    font-size: 20px;
    text-align: start;
    width: 80%;
    margin-top: 150px;
  }

  #showcase .show p {
    font-size: 12px;
    text-align: start;
  }

  #showcase .d-sm-flex {
    padding-bottom: 2rem;
  }

  #showcase .show {
    padding-top: 0px !important;
  }

  #showcase .show button {
    float: left;
    font-size: 8px;
  }

  #showcase .show button img {
    width: 20px;
  }

  #showcase .w-img {
    display: none;
  }

  #solutions {
    /* background: url("../img/solutions.png") no-repeat center center;
    height: 40vh;
    position: relative;
    color: #ffffff;*/
    background-image: url("../img/solutions.png");
    background-size: 750px 350px;
    background-position: center;
    height: 50vh;
  }

  #solutions .hero h1 {
    margin-top: 3rem;
    padding-top: 1rem;
    font-size: 24px;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
  }

  #solutions .hero p {
    font-size: 12px !important;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
  }

  #services {
    display: none;
  }

  #services p {
    font-size: 10px;
    padding-left: 32px;
    padding-right: 32px;
  }

  #services {
    display: block;
  }

  #services h1 {
    font-size: 30px;
  }

  #services .p-main {
    font-size: 15px !important;
    width: 80%;

  }

  #services .carousel-inner {
    margin-top: 30px ;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    
  }

  #services .meal-text {
    /* padding-left: 50px !important;
    padding-right: 50px !important; */
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  #services .meal-text .meal-heading {
    display: block;
    margin-top: 30px !important;
    text-align: center;
    text-justify: auto;
    padding: 0 !important;
    margin-right: 0 !important;
  }
  
  #services .meal-text .meal-pg {
    font-size: 20px;
    /* width: 400px; */
    text-align: center;
    text-justify: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  #services .carousel-inner .row .meal-pic img {
    width: 300px;
    height: 300px;
    margin-left: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #services .carousel-control-next {
    padding-right: 90px;
    size: 2px;
    margin-left: 0 !important;

  }

  #services .carousel-control-prev {
    padding-left: 90px ;
    size: 2px;
    margin: 0 !important;
  }

  #services .carousel-indicators {
    left: 620px !important;
    display: none;
  }

  #about {
    padding: 20px 15px;
  }

  #about .about-heading {
    font-size: 20px;
  }

  #about .about-p {
    font-size: 12px;
    margin-bottom: 2px !important;
  }

  #about .row {
    padding-bottom: 2px !important;
  }

  #achievement {
    height: 48vh !important;
    background-size: 450px 350px !important;
  }

  /* #achievement::before {
    background: #171dde !important;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
  }

  #achievement .container {
    z-index: 10;
    position: absolute;
    margin-top: 90px;
    /* padding-left: 20px;
    padding-right: 20px;
    max-width: 350px;*/
    /* display: none;
  }

  #achievement .container h1 {
    font-size: 25px;
    display: none;
  }

  #achievement .container div h2 {
    font-size: 15px;
    padding: 0 !important;
    margin: 0 !important;
    display: none;
  }

  #achievement .container div div p {
    font-size: 10px;
    display: none;
  }

  #achievement button {
    margin-left: 140px !important;
    display: none;
  } */

  #people h3 {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #people .container .people-pg {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #people .row {
    padding-left: 32px;
    padding-right: 32px;
  }

  #people .row p {
    font-size: 7px;
  }

  #people .row h5 {
    font-size: 12px;
  }

  #people .row .people-img {
    width: 30px;
  }

  footer .line {
    margin-left: 32px !important;
    margin-right: 32px !important;
  }

  footer .footer-group {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
  }

  footer .footer-group .list-group-item {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  footer .footer-group .list-group-item:first-child {
    margin-bottom: 4px;
  }
  footer .footer-group .list-group-item:nth-child(2) {
    margin-bottom: 4px;
  }

  footer .footer-group .list-group-item:last-child {
    margin-top: 4px;
  }

  footer .s-media {
    margin-top: 40px;
    justify-content: space-between !important;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  #showcase {
    height: 64vh !important;
    background-size: 214px 410px !important;
  }

  #showcase .show h1 {
    margin-top: 100px;
  }

  #services .carousel-control-next {
    padding-right: 90px;
    size: 2px;
    margin-left: 0 !important;

  }

  #services .carousel-control-prev {
    padding-left: 90px ;
    size: 2px;
    margin: 0 !important;
  }

  #solutions {
    background-size: 450px 350px !important;
    background-position: center;
    height: 55vh !important;
    margin-top: 0;
    margin-bottom: 0;
  }

  #achievement {
    height: 50vh !important;
    background-image: url("../img/solutions.png");
    background-size: 600px 400px;
    background-position: center;
  }
  

  #achievement::before {
    background: #171dde !important;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
  }

  #achievement .container {
    z-index: 10;
    position: absolute;
    margin-top: 70px;
    padding-left: 20px;
  }

  #achievement .container h1 {
    font-size: 25px;
    display: block;
  }

  #achievement .container .ach {
    margin-bottom: 10px !important;

  }

  #achievement .container .ach h2 {
    font-size: 18px;
  }

  #achievement .container .ach p {
    font-size: 12px;
  }

  #achievement .container .ach .pe-lg-6 {
    padding-right: 10px;
  }

  #achievement .container .ach .px-lg-6 {
    padding: 0 10px;
  }

  #achievement .container .ach .ps-lg-6 {
    padding-left: 10px;
  }
 

  #achievement button {
    margin-left: 130px !important;
    padding: 3px 6px;
    font-size: 8px;
  }

  /* #achievement .container .ach .btn-red {
    margin-top: 20px;
    margin-left: 525px;
  }*/

  #solutions {
    /* background: url("../img/solutions.png") no-repeat center center;
    height: 40vh;
    position: relative;
    color: #ffffff;*/
    background-image: url("../img/solutions.png");
    background-size: 750px 350px;
    background-position: center;
    height: 50vh !important;
  }

  #solutions .hero h1 {
    margin-top: 3rem;
    padding-top: 1rem;
    font-size: 24px;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
  }

  #solutions .hero p {
    font-size: 12px !important;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 414px) and (min-height: 896px) {
  #showcase {
    background-size: 214px 555px !important;
    height: 60vh !important;
  }

  #solutions {
    height: 40vh !important;
  }

  #achievement .btnn {
    display: block;
    margin-left: 150px !important;
  }
}

/* Xr Pro */
@media (min-width: 380px) and (max-width: 600px) {
  .logo {
    padding-left: 29px;
  }

  #showcase {
    background: url("../img/Doctor putting on surgical gloves with copy space.png")
      no-repeat right/cover;
    height: 60vh !important;
    /* background-size: 240px 450px !important; */
    background-position-y: 70px !important;
    padding-left: 32px !important;
    padding-bottom: 0 !important;
  }

  #showcase .show h1 {
    font-size: 20px;
    text-align: start;
    width: 80%;
    margin-top: 200px;
  }

  #showcase .show p {
    font-size: 12px;
    text-align: start;
  }

  #showcase .show button {
    float: left;
    font-size: 8px;
  }

  #showcase .show button img {
    width: 20px;
  }

  #showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh !important;
    background: #ffffff;
    opacity: 0.1;
    display: none !important;
  }

  #showcase .show {
    margin-top: 10rem;
  }

  #showcase .w-img {
    display: none;
  }

  #solutions {
    /* background: url("../img/solutions.png") no-repeat center center;
    height: 40vh;
    position: relative;
    color: #ffffff;*/
    background-image: url("../img/solutions.png");
    background-size: 750px 350px;
    background-position: center;
    height: 40vh !important;
  }

  #solutions .hero h1 {
    margin-top: 3rem;
    padding-top: 1rem;
    font-size: 24px;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px !important;
  }

  #solutions .hero p {
    font-size: 12px !important;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px !important;
    margin-bottom: 20px;
  }

  /* #services {
    padding: 0;
    margin: 0;
    display: none;
  }

  #services p {
    font-size: 8px;
    padding-left: 32px;
    padding-right: 32px;
  }

  #services .meal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #services .meal-heading {
    font-size: 12px;
  }

  #services .meal-pg {
    font-size: 8px;
  }

  #services .meal-pic {
    width: 50px;
    height: 80px;
  }

  #services {
    display: none;
  } */


  #services {
    display: block;
  }

  #services h1 {
    font-size: 30px;
  }

  #services .p-main {
    font-size: 15px !important;
    width: 80%;

  }

  #services .carousel-inner {
    margin-top: 30px ;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    
  }

  #services .meal-text {
    /* padding-left: 50px !important;
    padding-right: 50px !important; */
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  #services .meal-text .meal-heading {
    display: block;
    margin-top: 30px !important;
    text-align: center;
    text-justify: auto;
    padding: 0 !important;
    margin-right: 0 !important;
  }
  
  #services .meal-text .meal-pg {
    font-size: 20px;
    /* width: 400px; */
    text-align: center;
    text-justify: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  #services .carousel-inner .row .meal-pic img {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #services .carousel-control-next {
    padding-right: 90px;
    size: 2px;
    margin-left: 0 !important;

  }

  #services .carousel-control-prev {
    padding-left: 90px ;
    size: 2px;
    margin: 0 !important;
  }

  #services .carousel-indicators {
    left: 620px !important;
    display: none;
  }

  

  #about {
    padding: 20px 30px;
  }

  #about .about-heading {
    font-size: 20px;
  }

  #about .about-p {
    font-size: 12px;
    margin-bottom: 2px !important;
  }

  #about .row {
    padding-bottom: 2px !important;
  }

  #achievement {
    height: 40vh !important;
    background-image: url("../img/solutions.png");
    background-size: 500px 400px;
    background-position: center;
    
  }

  #achievement .container {
    z-index: 10;
    position: absolute;
    margin-top: 70px;
    padding-left: 20px;
  }

  #achievement .container h1 {
    font-size: 25px;
    display: block;
  }

  

  #achievement .container .ach {
    margin-bottom: 20px;

  }

  #achievement .container .ach h2 {
    font-size: 18px;
  }
  
  #achievement .container .ach p {
    font-size: 12px;
  }

  #achievement .container .ach .pe-lg-6 {
    padding-right: 10px;
  }

  #achievement .container .ach .px-lg-6 {
    padding: 0 10px;
  }

  #achievement .container .ach .ps-lg-6 {
    padding-left: 10px;
  }

  #achievement button {
    margin-left: 135px !important;
    padding: 3px 6px;
    font-size: 8px;
  }

  /* #achievement button {
    font-size: 8px;
    margin-left: 140px !important;
    display: none;
  }

  #achievement .container button {
    margin-left: 143px;
    margin-top: 5px;
    display: none;
  }

  #achievement button img {
    width: 20px;
    
  } */

  #people h3 {
    font-size: 20px;
  }

  #people .people-pg {
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
  }

  #people .row {
    padding-left: 32px;
    padding-right: 32px;
  }

  #people .row p {
    font-size: 7px;
  }

  #people .row h5 {
    font-size: 12px;
  }

  #people .row .people-img {
    width: 30px;
  }

  footer .line {
    margin-left: 32px !important;
    margin-right: 32px !important;
  }

  footer .footer-group {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
  }

  footer .footer-group .list-group-item {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  footer .footer-group .list-group-item:first-child {
    margin-bottom: 4px;
  }
  footer .footer-group .list-group-item:nth-child(2) {
    margin-bottom: 4px;
  }

  footer .footer-group .list-group-item:last-child {
    margin-top: 4px;
  }

  footer .s-media {
    margin-top: 40px;
    justify-content: space-between !important;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 414px) and (height: 736px) {
  #showcase {
    height: 70vh !important;
    /* background-size: 214px 400px !important; */
    background-position-y: 70px;
  }

  #solutions {
    height: 45vh !important;
  }

  #achievement .btnn {
    display: block;
    margin-left: 150px !important;
  }
}

@media (width: 360px) and (height: 740px) {
  #achievement button {
    margin-left: 126px !important;
  }
}

@media (width: 412px) and (height: 915px) {
  #achievement button {
    margin-left: 147px !important;
  }
}

@media (width: 412px) and (height: 914px) {
  #achievement button {
    margin-left: 147px !important;
  }
}

@media (width: 420px) and (height: 845px) {
  #achievement button {
    margin-left: 153px !important;
  }

  #showcase {
    background: url("../img/Doctor putting on surgical gloves with copy space.png")
      no-repeat right/cover;
    height: 70vh !important;
    background-size: 250px 580px !important;
    padding-left: 32px !important;
  }
}


@media (min-width: 768px) and (max-width: 990px) {
  #showcase {
    padding-right: 0 !important;
    margin-bottom: 90px !important;
  }

  #showcase .w-img {
    width: 450px;
    height: 750;
  }
  

  #solutions {
    padding: 30px 48px 30px 48px;
  }

  #services {
    display: none;
  }

  /* #about {
    
  } */

  #achievement {
    height: 50vh;
  }

  #achievement .container h1 {
    margin-top: 10px;
  }

  #achievement .container .ach .pe-lg-6 {
    padding-right: 15px !important;
  }

  #achievement .container .ach .px-lg-6 {
    padding: 0 20px !important;
  }

  #achievement .container .ach .ps-lg-6 {
    padding-left: 15px !important;
  }

  #achievement .container .ach h2{
    font-size: 30px;
  }

  #achievement .container .ach p {
    font-size: 25px;
  }

  #achievement .container button {
    margin-top: 20px;
    margin-left: 220px !important;
    padding: 14px 18px !important;
    font-size: 16px !important;
  }
}

@media (width: 768px) and (height: 1024px) {
  #showcase {
    height: 65vh !important;
    padding-left: 48px !important;
  }

  #showcase .w-img {
    width: 400px;
    height: 750;
  }

  #solutions {
    height: 45vh !important;
    padding: 30px 48px 30px 48px;
  
  }

  #solutions .container h1 {
    margin-top: 70px !important;
  }

  #solutions .container p {
    font-size: 25px;
  }

  #solutions .hero p {
    font-size: 16px;
  }

  #services {
    display: block;
  }

  #services h1 {
    font-size: 50px;
  }

  #services .p-main {
    font-size: 20px !important;
    width: 70%;

  }

  #services .carousel-inner {
    margin-top: 30px ;
    padding-right: 30px;
  }

  #services .meal-text {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  #services .meal-text .meal-heading {
    margin-top: 60px;
    /* width: 50%; */
    font-size: 45px;
    font-weight: 500;
  }
  
  #services .meal-text .meal-pg {
    font-size: 20px;
    /* width: 400px; */
    text-align: left;
  }

  #services .carousel-inner .row .meal-pic img {
    width: 300px;
    height: 400px;
    /* padding-right: 25px; */
  }

  #services .carousel-control-next {
    padding-right: 30px;
    display: none;
  }

  #services .carousel-control-prev {
    padding-left: 30px ;
    display: none;
  }

  #services .carousel-indicators {
    left: 620px !important;
    display: none;
  }

  #achievement {
    height: 70vh;
    background-size: 900px 700px;
  }

  #achievement .container h1 {
    margin-top: 70px;
  }

  #achievement .container .ach .pe-lg-6 {
    padding-right: 15px !important;
  }

  #achievement .container .ach .px-lg-6 {
    padding: 0 20px !important;
  }

  #achievement .container .ach .ps-lg-6 {
    padding-left: 15px !important;
  }

  #achievement .container .ach h2{
    font-size: 30px;
  }

  #achievement .container .ach p {
    font-size: 25px;
  }

  #achievement .container button {
    margin-top: 20px;
    margin-left: 220px !important;
    padding: 14px 18px !important;
    font-size: 16px !important;
  }


}

@media (width: 820px) and (height: 1180px) {
  #services {
    display: block;
  }

  #services h1 {
    font-size: 50px;
  }

  #services .p-main {
    font-size: 20px !important;
    width: 70%;

  }

  #services .carousel-inner {
    margin-top: 30px ;
    padding-right: 30px;
  }

  #services .meal-text {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  #services .meal-text .meal-heading {
    margin-top: 60px;
    /* width: 50%; */
    font-size: 45px;
    font-weight: 500;
  }
  
  #services .meal-text .meal-pg {
    font-size: 20px;
    /* width: 400px; */
    text-align: left;
  }

  #services .carousel-inner .row .meal-pic img {
    width: 300px;
    height: 400px;
    /* padding-right: 25px; */
  }

  #services .carousel-control-next {
    padding-right: 30px;
    display: none;
  }

  #services .carousel-control-prev {
    padding-left: 30px ;
    display: none;
  }

  #services .carousel-indicators {
    left: 620px !important;
    display: none;
  }

}

@media (width: 1024px) and (height: 600px) {
  #achievement {
    height: 80vh !important;
    margin-bottom: 100px !important;
  }

  #achievement button {
    margin-left: 350px !important;
  }
}

@media (width: 1280px) and (height: 800px) {
  #achievement button {
    margin-left: 430px !important;
  }
}

@media (width: 1024px) and (height: 1366px) {
  nav .container {
    padding-right: 48px;
    padding-left: 48px;
  }
  #showcase {
    height: 63vh !important;
  }
  
  #showcase .w-img {
    width: 900px;
    height: 810px;
  }

  #solutions .container {
    padding-right: 48px !important;
  }

  /* #services {
    
  } */

  #services .carousel-inner {
    margin-top: 40px;
  }

  #services .meal-text {
    padding-left: 70px;
    padding-right: 40px;
  }

  #services .meal-text .meal-heading {
    margin-top: 50px;
    width: 50%;
    font-size: 60px;
    font-weight: 500;
  }
  
  #services .meal-text .meal-pg {
    font-size: 30px;
    width: 400px;
    text-align: left;
  }

  #services .carousel-inner .row .meal-pic img {
    width: 400px;
    height: 500px;
    padding-right: 45px;
  }

  #services .carousel-control-next {
    padding-right: 50px;
  }

  #services .carousel-control-prev {
    padding-left: 50px;
  }

  #services .carousel-indicators {
    left: 920px;
  }


  #achievement {
    background: url("../img/acheivement.png") no-repeat center center/cover;
    height: 60vh;
    position: relative;
    color: #ffffff;
    background-size: 1100px 900px;
    padding-right: 48px;
  }

  #achievement .container h1 {
    font-size: 75px !important;
    margin-top: 150px;
  }

  #achievement .container .ach .pe-lg-6 {
    padding-right: 50px !important;
  }

  #achievement .container .ach .px-lg-6 {
    padding: 0 30px !important;
  }

  #achievement .container .ach .ps-lg-6 {
    padding-left: 50px !important;
  }

  #achievement .container .ach h2{
    font-size: 50px;
  }

  #achievement .container .ach p {
    font-size: 34px;
  }

  #achievement .container button {
    margin-top: 20px;
    margin-left: 330px !important;
    padding: 14px 18px !important;
    font-size: 16px !important;
  }

}
